/*font-family: 'Satisfy', cursive;
font-family: 'Sue Ellen Francisco', cursive;
font-family: 'Sofia', cursive;
font-family: 'Josefin Slab', serif;
font-family: 'Cormorant Upright', serif;*/

*{
  box-sizing: border-box;
  font-family: 'Cormorant Upright', serif;
  text-decoration: none;
}
button{
  border-style: none;
  border-radius: 5px
}
button:hover{
  /*border-radius: 20px;*/
  box-shadow: 1px 2px 1px 5px lightgrey;

}
body, html, h1, ul, h3 {
  margin: 0;
  padding: 0;
}
ul{
  list-style: none;
}
a{
  color: pink;
}

/*==================HEADER=================*/
.header{
  height: 60px;
  background-color: #ff3f80;
  overflow: auto;
}
.header h1{
  font-family: 'Sofia', cursive;
  float:left;
  color: white;
  padding: 5px;
}

.header ul{
  float: right;
}
.header ul li{
  float: left;
  padding: 10px;
  color: #ffdbe7;
  font-size: 15px;
  font-weight: bold;
}
/*==================ROW 1=================*/
.row{
  background-color: #e0e0e0;
  position: relative;
  top:0px;
  left:0px;
  overflow: visible;
  padding-bottom: 40px;
}
.row img + img{
  height: 200px;
  position: absolute;
  left: 72%;
  top:5%;
  opacity: .7;

}
.row h2{
  z-index: 10;
  font-family: 'Satisfy', cursive; serif;
  /*color: #d9fbb1;*/
  color: #fdff9c;
  font-size: 60px;
  position: absolute;
  left: 50%;
  top:100px;
  text-shadow: 2px 2px 5px lightgrey;
}
.row p{
  position:absolute;
  left: 50%;
  top: 260px;
  background-color: rgba(224, 224, 224, 0.7);
  padding: 20px 30px 2px 0;

}
.row button {
  position: absolute;
  left: 50%;
  top: 250px;
  width: 265px;
  color:white;
  background-color: #ff3f80;
  padding: 5px;
}
/*==================BUY 1 (ROW 2)=================*/
.buy1{
  position: relative;
  top:0px;
  left:0px;
  overflow:auto;
}
 #chair{
  background-color: pink;
  padding-bottom: 20px;
}
.buy1 img{
  float: left;
  top:0;
}
.buy1 ul{
  float:left;
  padding: 10px;
  clear: right;
}
.buy1 ul li{
  padding-top: 5px;
  padding-left: 5px;
}
.buy1 ul li:first-child{
  padding-top: 20px;
}
.buy1 p, .add {
  position: absolute;
  top: 15%;
  left: 530px;
  padding: 2%;
  padding-right: 4%;
  clear: right;
}

.add {
  position: absolute;
  left: 545px;
  padding: 15px;
  top: 82%;
  background-color:  #fdff9c;
  font-weight: bold;
  color: #826767;
  font-size: 1.2em;
  font-family: 'Sofia', cursive;
}

.buy1 p + img {
  width: 100px;
  height: 120px;
  /*float: left;*/
  position: absolute;
  top: 38%;
  left: 410px;
}
.buy1 img + img {
  width: 100px;
  height: 120px;
  /*float: left;*/
  position: absolute;
  top: 68%;
  left: 410px;
}
/*==================BUY 2 (ROW 3)=================*/
.buy2{
  background-color: white;
  overflow: auto;
  position: relative;
  color: grey;
}
.buy2 img{
  width: 391px;
  float: right;
  /*margin-right: 10%;*/
  background-color: pink;
  padding-right: 60px;
  margin-left: -20px;
}
.buy2 ul{
  float:right;
  padding: 10px;

}
.buy2 ul li{
  padding-top: 5px;
  padding-right: 30px;
  text-align: right;
}
.buy2 ul li:first-child{
  padding-top: 20px;
}
.buy2 p{
  position: absolute;
  top: 18%;
  width: 50%;
  left: 20px;
  padding: 2%;
  padding-right: 30px;
  clear: right;
  text-align: center;
}
.buy2 .add {
  left:55%;
  top: 82%;
}

/*==================BUY 3 (ROW 4)=================*/
.buy1 #table{
  padding-top: 15px;
  background-color: #e0e0e0;
  overflow: auto;
  padding-bottom: 20px;
}
#table img{
  padding-left: 20px;
}
#table p{
  left: 400px;
  padding-left: 55px;
  padding-right: 35px;
}
#table button{
  left: 350px;
}

/*================Order Table(ROW 5)=================*/

table{
  position: relative;
  left: 50%;
  top: 10px;
  margin-top: 30px;
  right: 30px;
  margin-left: -212px;
  text-align: center;
  border: 1px solid pink;
  border-collapse: collapse;
  font-size: 1.1em;
}
table img{
  width: 50%;
}
th{
  padding: 10px;
}
tr{
  padding: 2px;
  border-collapse: collapse;
}
tr td{
  padding: 2px 15px;;
}
tr td:first-of-type{
  width: 100px;
}
.shop a {
  color: #6b2e38;
}
#checkout{
  position:relative;
  left: 50%;
  margin-left: -50px;
  background-color:#ff3f80;
  top:20px;
  width: 100px;
  padding: 10px;
  font-size: 23px;
  color: white;
}


/*================galery (ROW 6)=================*/
.galery {
  margin-top: 20px;
  top: 0%;
  height: 100%;
  background-color: #fdff9c;
  margin: 50px;
  padding-bottom: 20px;
  overflow: auto;
  clear: both;
}
.galery p{
  margin: 0;
  color: grey;
  font-family: 'Sofia', cursive;
  font-weight: normal;
  font-size: 20px;
  margin: 15px 2%;
}
.galery span {
  float: left;
  height: 250px;
  padding: 5px 3.5%;
  margin-bottom: 20px;
}

.galery img{
  /*float:left;*/
  height: 100%;


}
/*================FOOTER (ROW 6)=================*/
footer{
  position: relative;
  top: 10px;
  clear: both;
  text-align: center;
  height: 30px;
  color: #ff3f80;;

}
footer p {
  margin: 0;
  padding: 15px 5%;
}


@media (max-width:800px){
  .buy1 p, buy2 p{
    margin: 1%;
    padding: 1px;
    top: 10px;
  }

}
