/*font-family: 'Satisfy', cursive;
font-family: 'Sue Ellen Francisco', cursive;
font-family: 'Sofia', cursive;
font-family: 'Josefin Slab', serif;
font-family: 'Cormorant Upright', serif;*/

*{
  box-sizing: border-box;
  font-family: 'Cormorant Upright', serif;

}
button{
  border-style: none;
}
body, html, h1, ul, h3 {
  margin: 0;
  padding: 0;
}
ul{
  list-style: none;
}

/*==================HEADER=================*/
.header{
  height: 60px;
  background-color: #ff3f80;
  overflow: auto;
}
.header h1{
  font-family: 'Sofia', cursive;
  float:left;
  color: white;
  padding: 5px;
}

.header ul{
  float: right;
}
.header ul li{
  float: left;
  padding: 10px;
  color: #ffdbe7;
  font-size: 15px;
  font-weight: bold;
}
/*==================ROW 1=================*/
.row{
  background-color: #e0e0e0;
  position: relative;
  top:0px;
  left:0px;
  overflow: visible;
  padding-bottom: 20px;
}
.row img + img{
  height: 200px;
  position: absolute;
  left: 72%;
  top:5%;
  opacity: .7;

}
.row h2{
  z-index: 10;
  font-family: 'Satisfy', cursive; serif;
  /*color: #d9fbb1;*/
  color: #fdff9c;
  font-size: 60px;
  position: absolute;
  left: 50%;
  top:100px;
  text-shadow: 2px 2px 5px lightgrey;
}
.row p{
  position:absolute;
  left: 50%;
  top: 260px;
  background-color: rgba(224, 224, 224, 0.7);
  padding: 20px 30px 2px 0;

}
.row button {
  position: absolute;
  left: 50%;
  top: 250px;
  width: 265px;
  color:white;
  background-color: #ff3f80;
  padding: 5px;
}
/*==================BUY 1 (ROW 2)=================*/
.buy1{
  position: relative;
  top:0px;
  left:0px;
  overflow:auto;
}
 #chair{
  background-color: pink;
  padding-bottom: 20px;
}
.buy1 img{
  float: left;
  top:0;
}
.buy1 ul{
  float:left;
  padding: 10px;
  clear: right;
}
.buy1 ul li{
  padding-top: 5px;
  padding-left: 5px;
}
.buy1 ul li:first-child{
  padding-top: 20px;
}
.buy1 p, .add {
  position: absolute;
  top: 15%;
  left: 530px;
  padding: 2%;
  padding-right: 4%;
  clear: right;
}

.add {
  position: absolute;
  left: 545px;
  padding: 15px;
  top: 82%;
  background-color:  #fdff9c;
  font-weight: bold;
  color: #826767;
  font-size: 1.2em;
  font-family: 'Sofia', cursive;
}

.buy1 p + img {
  width: 100px;
  height: 120px;
  /*float: left;*/
  position: absolute;
  top: 38%;
  left: 410px;
}
.buy1 img + img {
  width: 100px;
  height: 120px;
  /*float: left;*/
  position: absolute;
  top: 68%;
  left: 410px;
}
/*==================BUY 2 (ROW 3)=================*/
.buy2{
  background-color: white;
  overflow: auto;
  position: relative;
  color: grey;
}
.buy2 img{
  width: 391px;
  float: right;
  /*margin-right: 10%;*/
  background-color: pink;
  padding-right: 60px;
  margin-left: -20px;
}
.buy2 ul{
  float:right;
  padding: 10px;

}
.buy2 ul li{
  padding-top: 5px;
  padding-right: 30px;
  text-align: right;
}
.buy2 ul li:first-child{
  padding-top: 20px;
}
.buy2 p{
  position: absolute;
  top: 18%;
  width: 50%;
  left: 20px;
  padding: 2%;
  padding-right: 30px;
  clear: right;
  text-align: center;
}
.buy2 .add {
  left:30%;
  top: 82%;
}

/*==================BUY 3 (ROW 4)=================*/
.buy1 #table{
  padding-top: 15px;
  /*background-color: #a9b8b3;*/
  background-color: #e0e0e0;
  overflow: auto;
  padding-bottom: 20px;
    /*color: #d9fbb1;*/
}
#table img{
  padding-left: 20px;
}
#table button{
  left: 350px;
}
/*================galery (ROW 5)=================*/
.galery {
  height: 280px;
  background-color: #fdff9c;
  margin-top: 20px;
}
.galery p{
  display: block;
  background-color: white;
  margin: 0;
  color: #ff3f80;
  font-weight: normal;
  font-size: 20px;
  margin-bottom: 10px;
}
.galery img{
  height: 200px;
  margin: 20px;
}
/*================FOOTER (ROW 6)=================*/
footer{
  text-align: right;
  height: 30px;
  color: #ff3f80;;

}
footer p {
  margin: 0;
  padding: 15px 5%;

}


@media (max-width:828px){
  .row p, .buy1 p{
    margin-top:15px;
    padding-right: 0;
  }
}
